*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
  background-color: #D36F34;
}
nav{
    padding: 5px 20px;
}
ul{
    list-style-type: none;
}
a{
    color: black;
    text-decoration:solid;
    
}
li{
    color: black;
    text-decoration:solid;
}
a:hover{
    text-decoration: underline;
    opacity: 0.5;
}
.logo a:hover{
    text-decoration: none;
}
.menu div li{
    font-size: 20px;
    padding: 15px 15px;
    white-space: nowrap;
    text-decoration: underline;
}
.logo a{
font-size: 20px;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
/*.item.button{
    order: 1;
}*/
.item{
    width: 100%;
    text-align: center;
    display: inline-block;
}
.item.active{
    display: block;
}
.container_2{
    display: flex;
    flex-direction: row;
}