/**/
body{
    background-color: #D36F34;
}
/*logo arriba izquierda*/
#logo{
    width: 50%;
    height: auto;
    margin-left: 1%;
}
/*nav links*/
#links{
    margin-top: -5%;
}
/*container juegos*/
#pagina_menu_juegos{
    margin-top: 0;
}
/*cada imagen*/
#juego_imagen{
    width: 30%;
    height: auto;
}
/*Transparencias*/
#juego_imagen:hover{
    opacity: 0.5;
}
li:hover{
    opacity: 0.5;
}
