body {
    height: 100%;
    padding: 0%;
    margin: 0%;
}
a {
    text-decoration: none;
}

.container {
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.container .lang__menu {
    align-self: flex-end;
    position: relative;
}

.container .lang__menu .selected__lang {
    cursor: pointer;
}

.container .lang__menu .selected__lang:before {
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background-image: url("/images/spain-flag-icon-32.png");
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
}   

.container .lang__menu:hover ul {
    display: block;
}

.container .lang__menu ul {
    margin: 0;
    padding: 0;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: none;
    position: absolute;
    top: 40px;
    right: 5px;
}

.container .lang__menu ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.container .lang__menu ul li a {
    width: 125px;
    display: block;
    padding: 5px 10px;
}

.container .lang__menu ul li a:hover {
    background-color: #f2f2f2;
}

.container .lang__menu ul li a:before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 5px;
    vertical-align: middle;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
}  

.cat:before {
    background-image: url("/images/3253480-catalonia-icon-flag_106770.png");
}

.eng:before {
    background-image: url("/images/united-kingdom-flag-icon-32.png");
}

.container .jugar {
    background-color: cadetblue;
}

/* .container .continuar {
    background-color: cornflowerblue;
} */

.footer {
    background-color: #333;
}