@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

* {
  font-family: "Share Tech Mono", monospace;
  text-decoration: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #EDCC60;
}

.cerrar-sesion {
  height: 25px;
  background: white;
  border: 2px solid black;
  width: 140px;
  cursor: pointer;
}

.cerrar-sesion:hover {
  opacity: 0.8;
}

.container-general {
  display: flex;
  flex-flow: row wrap;
  gap: 160px 300px;
  margin-top: 100px;
  align-items: center;
  /* margin: 200px; */
  padding: 60px;
  justify-content: center;
  text-align: center;
}
.container-user {
}
.container-admin {
}

.titulo {
  color: black;
  padding-top: 10px;
  text-align: center;
  font-weight: bolder;
}

.nombreUser-btn {
  height: 20px;
  /* background: black; */
  /* width: 258px; */
  color: black;
  /* margin: 0px; */
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  /* align-items: center; */
  /* align-content: center; */
  padding-top: 5px;
}

img {
  width: 527px;
  height: 368px;
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
}

img:hover {
  opacity: 0.5;
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.nombreUser-btn {
  height: 20px;
  /* background: black; */
  /* width: 258px; */
  color: black;
  /* margin: 0px; */
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  /* align-items: center; */
  /* align-content: center; */
  padding-top: 5px;
}

i {
  margin-right: 5px;
}

form {
  /* align-items: stretch; */
  display: flex;
  /* align-content: baseline; */
  flex-direction: column;
  /* flex-wrap: wrap-reverse; */
  /* justify-content: unset; */
  align-items: center;
}