@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

* {
    padding: 0px;
    margin: 0px;
    font-family: "Share Tech Mono", monospace;
    text-decoration: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #000000 #f8f8f8;
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }
  
  *::-webkit-scrollbar-track {
    background: #f8f8f8;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
    border: 3px solid #f8f8f8;
  }

body {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #e24949;
}

.container {
    display: flex;
    flex-flow: row wrap;
    gap: 160px 300px;
    margin-top: 100px;
    align-items: center;
    /* margin: 200px; */
    padding: 60px;
    justify-content: center;
    text-align: center;
}

.imagen__juego {
}

img {
    width: 350px;
    height: 250px;
    -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
}

img:hover {
    opacity: 0.5;
    -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.container .juego {
}

.game__name{
    color: #680808;
    padding-top: 10px;
}

