@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

* {
  padding: 0px;
  margin: 0px;
  font-family: "Share Tech Mono", monospace;
  text-decoration: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #000000 #f8f8f8;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #f8f8f8;
}

*::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 10px;
  border: 3px solid #f8f8f8;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #ec8d33;
}

.container {
  display: flex;
  flex-flow: row wrap;
  gap: 160px 300px;
  margin-top: 100px;
  align-items: center;
  /* margin: 200px; */
  padding: 60px;
  justify-content: center;
  text-align: center;
}

.imagen__juego {
}

img {
  width: 527px;
  height: 368px;
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
}

img:hover {
  opacity: 0.5;
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.container .juego {
}

.game__name {
  /*color: #680808;*/
  color: black;
  padding-top: 25px;
}

.divComboBoxCiclos {
  width: inherit;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: -50px;
}

.caja-elige-ciclo {
  margin-top: 70px;
}
.titulo-ciclos {
  text-align: center;
}
select {
  height: 25px;
  background: white;
  border: 2px solid black;
  width: 450px;
}

.cerrar-sesion {
  height: 25px;
  background: white;
  border: 2px solid black;
  width: 140px;
  cursor: pointer;
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
}

.cerrar-sesion:hover {
  opacity: 0.85;
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.nombreUser-btn {
  height: 20px;
  /* background: black; */
  /* width: 258px; */
  color: black;
  /* margin: 0px; */
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  /* align-items: center; */
  /* align-content: center; */
  padding-top: 5px;
}

i {
  margin-right: 5px;
}

form {
  /* align-items: stretch; */
  display: flex;
  /* align-content: baseline; */
  flex-direction: column;
  /* flex-wrap: wrap-reverse; */
  /* justify-content: unset; */
  align-items: center;
}

.fa {
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
}

.fa:hover {
  opacity: 0.85;
  -ms-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -o-transform: scale(1.3);
}