body {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #f68686;
}

.container {
    display: flex;
    flex-flow: row wrap;
    gap: 300px 300px;
    margin-top: 100px;
    align-items: center;
    /* margin: 200px; */
    padding: 60px;
    justify-content: center;
}

.imagen__juego {
}

img {
  width: 250px;
  height: 250px;
}

.container .juego {
}

