@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

* {
  font-family: "Share Tech Mono", monospace;
  text-decoration: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #a4ccc8;
  background-image: url("../media/img/pixel-cloud.png");
  background-position: center;
  background-repeat: repeat-x;
  background-size: 524px;
  background-position-y: 300px;
}

.body-admin {
  background-color: #a4ccae;
  background-position-y: 160px;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 160px;
}

.container .form__container {
  background-color: lightgrey;
  width: 20vw;
  padding: 50px;
  background-image: url("../media/img/minecraft.png");
  background-repeat: no-repeat;
  background-position-y: bottom;
  border: 2px solid black;
}

.container .form__container .form__style {
  text-align: center;
}

/* .bttn {
    background-color: #2772db;
    border-radius: 5px;
    width: 200px;
    height: 35px;
} */

label {
  font-size: medium;
}

input {
  height: 20px;
  background: white;
  border: 2px solid black;
  width: 250px;
}
select {
  height: 25px;
  background: white;
  border: 2px solid black;
  width: 250px;
}

.registro-boton {
  background-color: #5ca1e1;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 32px;
  padding: 16px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  border: 2px solid black;
  position: relative;
  margin-bottom: 0px;
}

.registro-boton:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 14px;
  right: -20px;
  transition: 1s;
}

.registro-boton:hover {
  padding-right: 24px;
  padding-left: 8px;
}

.registro-boton:hover:after {
  opacity: 1;
  right: 10px;
}

.cancel-boton {
  background-color: #e15c5c;
  /* border: none; */
  color: #fff;
  text-align: center;
  font-size: 19px;
  padding: 4px;
  width: 250px;
  transition: 1s;
  /* cursor: pointer; */
  margin: 23px;
  border: 2px solid black;
  position: relative;
}

.cancel-boton:after {
  content: "«";
  position: absolute;
  opacity: 0;
  top: 4px;
  right: -10px;
  transition: 1s;
}

.cancel-boton:hover {
  padding-right: 24px;
  padding-left: 8px;
}

.cancel-boton:hover:after {
  opacity: 1;
  right: 10px;
}

.login-boton {
  background-color: #3489d8;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 32px;
  padding: 16px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  border: 2px solid black;
  position: relative;
  margin-bottom: 0px;
}

.login-boton:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 14px;
  right: -20px;
  transition: 1s;
}

.login-boton:hover {
  padding-right: 24px;
  padding-left: 8px;
}

.login-boton:hover:after {
  opacity: 1;
  right: 10px;
}

.caja-mensjae-login {
  text-align: center;
}

/*********btn-hide-password***********/
/*************************************/
/*************************************/
/*************************************/

.hidePass {
  height: 20px;
  background: white;
  border: 2px solid black;
  width: 250px;
}
.b-contain *,
.b-contain *::before,
.b-contain *::after {
  box-sizing: content-box !important;
}

.b-contain input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.b-contain span {
  line-height: 1.54;
  font-size: 1rem;
  font-family: inherit;
}

.b-contain {
  display: inline-block;
  position: relative;
  padding-left: 1.8rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
  align-content: center;
  margin: 2px;
  /* justify-content: center; */
  /* margin-left: 53px;*/
}

.b-contain input[type="checkbox"] ~ .b-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.25rem;
  width: 1.25rem;
  background: rgb(230, 230, 230);
  transition: background 250ms;
  border: 1px solid rgb(0 0 0);
  border-radius: 0.125rem;
}

.b-contain input[type="radio"] ~ .b-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.25rem;
  width: 1.25rem;
  background: rgba(241, 245, 248, 1);
  transition: background 250ms;
  border: 1px solid rgba(184, 194, 204, 1);
  border-radius: 2rem;
}

.b-contain input[type="checkbox"] ~ .b-input::after {
  content: "";
  position: absolute;
  display: none;
  left: 0.45rem;
  top: 0.18rem;
  width: 0.25rem;
  height: 0.6rem;
  border: solid rgba(255, 255, 255, 1);
  border-width: 0 2px 2px 0;
  transition: background 250ms;
  transform: rotate(45deg);
}

.b-contain input[type="radio"] ~ .b-input::after {
  content: "";
  position: absolute;
  display: none;
  left: 0.25rem;
  top: 0.25rem;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 2rem;
  background: rgba(255, 255, 255, 1);
  transition: background 250ms;
}

.b-contain input:disabled ~ .b-input::after {
  border-color: rgba(135, 149, 161, 1);
}

.b-contain input:checked ~ .b-input::after {
  display: block;
}

.b-contain:hover input ~ .b-input,
.b-contain input:focus ~ .b-input {
  background: rgb(231, 238, 243);
}

.b-contain input:focus ~ .b-input {
  box-shadow: 0 0 0 2px rgba(52, 144, 220, 0.5);
}

.b-contain input:checked ~ .b-input {
  background: rgba(0, 130, 243, 1);
  border-color: rgba(0, 130, 243, 1);
}

.b-contain input[type="checkbox"]:disabled ~ .b-input {
  background: rgba(241, 245, 248, 1);
  border-color: rgba(184, 194, 204, 1);
  opacity: 0.6;
  cursor: not-allowed;
}

.b-contain input[type="radio"]:disabled ~ .b-input {
  background: rgba(241, 245, 248, 1);
  border-color: rgba(184, 194, 204, 1);
  opacity: 0.6;
  cursor: not-allowed;
}

.b-contain input[type="radio"]:disabled ~ .b-input::after {
  background: rgba(135, 149, 161, 1);
}

.b-contain input:checked:focus ~ .b-input,
.b-contain:hover input:not([disabled]):checked ~ .b-input {
  background: rgba(13, 143, 255, 1);
  border-color: rgba(13, 143, 255, 1);
}

.b-contain .b-input::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 3rem;
  height: 3rem;
  margin-left: -0.85rem;
  margin-top: -0.85rem;
  background: rgba(0, 130, 243, 1);
  border-radius: 2rem;
  opacity: 0.6;
  z-index: 99999;
  transform: scale(0);
}

@keyframes b-ripple {
  0% {
    transform: scale(0);
  }

  20% {
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes b-ripple-duplicate {
  0% {
    transform: scale(0);
  }

  30% {
    transform: scale(1);
  }

  60% {
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.b-contain input + .b-input::before {
  animation: b-ripple 250ms ease-out;
}

.b-contain input:checked + .b-input::before {
  animation-name: b-ripple-duplicate;
}

.b-contain .b-input::before {
  visibility: hidden;
}

.b-contain input:focus + .b-input::before {
  visibility: visible;
}

.b-contain:first-child .b-input::before {
  visibility: hidden;
}

/*********btn-hide-password***********/
/*************************************/
/*************************************/
/*************************************/

.mensaje-error {
  color: red;
}


.fa{
  color: black;
}


.fa {
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
}

.fa:hover {
  opacity: 0.85;
  -ms-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -o-transform: scale(1.3);
}
