/*nav bar*/
.container-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*logo*/
.container-navbar .logo-navbar {
    font-size: 20px;
    height: 30%;
    width: 30%;
    
}
.container-navbar .logo-navbar a img{
    height: 30%;
    width: 30%;
}
.container-navbar .logo-navbar a img:hover{
    opacity: 0.5;
}
/*links*/
.container-navbar .contenido-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
    align-items: center;
}
.container-navbar .contenido-navbar a{
    text-decoration: underline;
    color: black;
    padding-right: 10px;
    font-weight: bolder;  
}
.container-navbar .contenido-navbar a:hover{
    opacity: 0.5;
}
.container-navbar .contenido-navbar div a{
    align-items: center;
    
}