@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

* {
  padding: 0px;
  margin: 0px;
  font-family: "Share Tech Mono", monospace;
  text-decoration: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #000000 #f8f8f8;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #f8f8f8;
}

*::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 10px;
  border: 3px solid #f8f8f8;
}

body {
  height: 100%;
  padding: 0%;
  margin: 0%;
  /* background-color: #eee2c7; */
  background-color: white;
  word-spacing: 7px;
}

a {
  text-decoration: none;
}

#header-LP {
  background-image: url("../media/img/bg-landingPage.png");
  background-position: center;
  background-attachment: contain;
  background-size: cover;
}

.container-header {
  background-color: azure;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.container-header .lang__menu {
  align-self: flex-end;
  position: relative;
}

.container-header .lang__menu .selected__lang {
  cursor: pointer;
}

.container-header .lang__menu .selected__lang:before {
  content: "";
  display: block;
  width: 45px;
  height: 45px;
  background-image: url(../media/img/global.png);
  background-size: contain;
  /* background-position: 50%; */
  background-repeat: no-repeat;
  /* border-radius: 50%;*/
}

.container-header .lang__menu:hover ul {
  display: block;
  transition-delay: 0.85s;
}

.container-header .lang__menu ul {
  margin: 0;
  padding: 0;
  background-color: #fff;
  border: 1px solid #f8f8f8;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: none;
  position: absolute;
  top: 40px;
  right: 5px;
}

.container-header .lang__menu ul li {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.container-header .lang__menu ul li a {
  width: 125px;
  display: block;
  padding: 5px 10px;
}

.container-header .lang__menu ul li a:hover {
  background-color: #f2f2f2;
}

.container-header .lang__menu ul li a:before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 5px;
  vertical-align: middle;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.cat:before {
  background-image: url("../media/img/cat.png");
}

.eng:before {
  background-image: url("../media/img/eng.png");
}

.container-header .jugar {
  text-align: center;
}

.container-header h1 {
  color: black;
}
.container-header h1:hover {
  color: rgb(85, 85, 85);
}

.container-header .btn-jugar {
  border: 3px solid black;
  cursor: pointer;
  transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
}

.container-header .btn-jugar:hover {
  color: rgb(85, 85, 85);
  border: 1px solid rgb(85, 85, 85);
  transform: scale(1.2);
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.continuar {
  transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
}
.continuar:hover {
  transform: scale(1.3);
  -ms-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -o-transform: scale(1.3);
}

/********************************************************************/

.container-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 200vh;
  margin: 176px;
}

.titulo {
  margin-bottom: 50px;
}

.contenido {
  margin-bottom: 200px;
}
.contenido-2 {
  margin-bottom: 50px;
}

/********************************************************************/

.container-footer {
  background-color: black;
  color: white;
  align-items: center;
  text-align: center;
  padding: 60px;
}

.footer {
  text-align: center;
  /* display: -webkit-inline-box; */
  align-items: baseline;
  /* flex-direction: column; */
  flex-wrap: wrap;
}

.icon img {
  width: 50px;
  margin: 28px;
  transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
}
.icon-2 img {
  width: 100px;
  transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
}
.icon img:hover {
  transform: scale(1.3);
  -ms-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -o-transform: scale(1.3);
}
.icon-2 img:hover {
  transform: scale(1.3);
  -ms-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -o-transform: scale(1.3);
}

.caja-iconos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: -webkit-inline-box;
  min-height: 10vh;
}

/*********************************************************************/
/*******************************GAMES*********************************/
/*********************************************************************/

.body-juegos {
  background-color: #f68686;
}

.container-juegos {
  margin: 200px;
  display: flex;
  flex-flow: column;
}

.div-juegos {
  display: flex;
}

.div-individual {
  flex-wrap: nowrap;
  margin: 100px;
}

#juego_imagen {
  width: 250px;
  height: 250px;
}

.container-ciclos {
  display: flex;
  flex-flow: row wrap;
  gap: 40px 68px;
  /* margin-top: 100px; */
  /*align-items: center;*/
  margin: 75px;
  /* padding: 8px; */
  justify-content: space-around;
  text-align: center;
  /* flex-flow: row;*/

  /*margin: 176px;*/
  -webkit-box-shadow: 0px 0px 21px -8px #000000;
  box-shadow: 0px 0px 21px -8px #000000;
  padding: 96px;
  border-radius: 20px;
  background-color: #fff6e5b3;
}

.titulo-m {
  margin-bottom: 50px;
  color: rgb(192, 0, 0);
}
.titulo-h {
  margin-bottom: 50px;
  color: rgb(90, 0, 192);
}
.titulo-i {
  margin-bottom: 50px;
  color: rgb(192, 93, 0);
}
.titulo-a {
  margin-bottom: 50px;
  color: rgb(24, 109, 24);
}

.contenido-m {
  margin-bottom: 50px;
  color: rgb(192, 0, 0);
}
.contenido-h {
  margin-bottom: 50px;
  color: rgb(90, 0, 192);
}
.contenido-i {
  margin-bottom: 50px;
  color: rgb(192, 93, 0);
}
.contenido-a {
  margin-bottom: 50px;
  color: rgb(24, 109, 24);
  margin-bottom: 0;
}

.contenido-m:hover {
  color: rgb(192, 0, 0);
}
.contenido-h:hover {
  color: rgb(90, 0, 192);
}
.contenido-i:hover {
  color: rgb(192, 93, 0);
}
.contenido-a:hover {
  color: rgb(24, 109, 24);
}

.contenido-2-m ul li {
  list-style: none;
  color: #000000;
}
.contenido-2-h ul li {
  list-style: none;
  color: #000000;
}
.contenido-2-i ul li {
  list-style: none;
  color: #000000;
}
.contenido-2-a ul li {
  list-style: none;
  color: #000000;
}

.contenido-2-m ul li:hover {
  list-style: none;
  color: rgb(192, 0, 0);
}
.contenido-2-h ul li:hover {
  list-style: none;
  color: rgb(90, 0, 192);
}
.contenido-2-i ul li:hover {
  list-style: none;
  color: rgb(192, 93, 0);
}
.contenido-2-a ul li:hover {
  list-style: none;
  color: rgb(24, 109, 24);
}

.contenido-principal {
  display: flex;
  flex-flow: inherit;
  gap: 41px 21px;
  /* margin-top: 100px; */
  align-items: center;
  /* margin: 3px; */
  /* padding: 8px; */
  justify-content: center;
  /* text-align: center; */
  /* flex-flow: row;*/
}

.slide-contenedor {
  /*max-width: 66%; */
  /* max-height: 100%; */
  /* width: 100%; */
  /* height: auto; */
  position: relative;
  overflow: hidden;
  justify-content: center;
  display: flex;
}

.miSlider img {
  width: 100%;
  max-height: 100vh;
  height: inherit;
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: top;
  -webkit-transition: 2s;
  transition: 2s;
}

.direccion {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 20px;
  z-index: 2;
}

.direccion a {
  color: #ffffff;
  display: inline-block;
  padding: 30px;
  text-decoration: none;
  z-index: 2;
}

.direccion a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.barras {
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.barra {
  cursor: pointer;
  height: 5px;
  width: 25px;
  margin: 0 2px;
  background: #dcdde1;
  display: inline-block;
  margin-left: 3px;
}

.active {
  background-color: #e74c3c;
}

.fade {
  -webkit-animation-name: fade;
  animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 4;
  }
  to {
    opacity: 1;
  }
}

.container-cursos {
  /* margin: 15px; */
  -webkit-box-shadow: 0px 0px 21px -8px #000000;
  box-shadow: 0px 0px 21px -8px #000000;
  padding: 96px;
  border-radius: 20px;
  background-color: #064a0ab3;
  color: white;
  margin-bottom: 200px;
}

.img-bottom {
  margin: 300px;
}

.img-bottom img {
  width: 100%;
  height: 100%;
  margin-top: -170px;
}

.titulo-form {
  margin-bottom: -20px;
}

.container-cep {
  /* margin: 15px; */
  -webkit-box-shadow: 0px 0px 21px -8px #000000;
  box-shadow: 0px 0px 21px -8px #000000;
  padding: 96px;
  border-radius: 20px;
  background-color: #a90000b3;
  color: white;
  margin-bottom: 200px;
}
