@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

* {
  padding: 0px;
  margin: 0px;
  font-family: "Share Tech Mono", monospace;
  text-decoration:none;
  /*-moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;*/
}

body {
  height: 100%;
  padding: 0%;
  margin: 0%;
}
a {
  text-decoration: none;
}

#header-LP {
  background-image: url("../media/img/bg-landingPage.png");
  background-position: center;
  background-attachment: contain;
  background-size: cover;
}

.container-header {
  background-color: azure;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.container-header .lang__menu {
  align-self: flex-end;
  position: relative;
}

.container-header .lang__menu .selected__lang {
  cursor: pointer;
}

.container-header .lang__menu .selected__lang:before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background-image: url("../media/img/esp.png");
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.container-header .lang__menu:hover ul {
  display: block;
}

.container-header .lang__menu ul {
  margin: 0;
  padding: 0;
  background-color: #fff;
  border: 1px solid #f8f8f8;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: none;
  position: absolute;
  top: 40px;
  right: 5px;
}

.container-header .lang__menu ul li {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.container-header .lang__menu ul li a {
  width: 125px;
  display: block;
  padding: 5px 10px;
}

.container-header .lang__menu ul li a:hover {
  background-color: #f2f2f2;
}

.container-header .lang__menu ul li a:before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 5px;
  vertical-align: middle;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.cat:before {
  background-image: url("../media/img/cat.png");
}

.eng:before {
  background-image: url("../media/img/eng.png");
}

.container-header .jugar {
  text-align: center;
}

.container-header h1{
    color: black;
}
.container-header h1:hover{
    color: rgb(85, 85, 85);
}

.container-header .btn-jugar {
  border: 3px solid black;
  cursor: pointer;
  transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
}

.container-header .btn-jugar:hover {
  color: rgb(85, 85, 85);
  border: 1px solid rgb(85, 85, 85);
  transform: scale(1.2);
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.continuar {
  transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
}
.continuar:hover {
  transform: scale(1.3);
  -ms-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -o-transform: scale(1.3);
}

/********************************************************************/



/********************************************************************/

.footer {
  background-color: rgb(85, 85, 85);
}
